@page "/employeeoverview"
@* @attribute [StreamRendering(true)] *@

@rendermode InteractiveAuto

<PageTitle>@Title</PageTitle>
<h1>Employee Overview</h1>

@if(Employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickViewPopup Employee="@_selectedEmployee"/>
    <div class="row">
        @foreach (var employee in Employees)
        {
            <ErrorBoundary>
                <ChildContent>
                    <div class="col-6 col-lg-4 col-xl-3 col-xxl-2">
                        <EmployeeCard Employee="@employee" EmployeeQuickViewClicked="@ShowQuickView" />
                    </div>
                </ChildContent>
                <ErrorContent>
                    <p class="text-danger">An error occurred while loading the employee card.</p>
                </ErrorContent>
            </ErrorBoundary>
        }
    </div>
}